:host {
    flex: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #049EF4;
}

.navigation {
    position: relative;
    width: 300px;
    height: 100vh;
}

.nav {
    padding: 0;
    position: fixed;
    border-right: 1px solid #1565c0;
    width: 300px;
    height: calc(100vh - 48px);
    margin: 0;
    list-style-type: none;
    overflow-y: scroll;
    scrollbar-color: grey #00000000;
}

.titleContainer {
    position: relative;
    width: 300px;
    height: 48px;

}

.title {
    position: fixed;
    width: calc(300px - 1rem);
    margin: 0;
    padding-left: 1rem;
    border-bottom: 1px solid #1565c0;
    border-right: 1px solid #1565c0;
}

.book {
    margin: 0.6rem 0 0 1rem;
    > ul {
        padding: 0;
        list-style-type: none;
    }
}

.bookTitle {
    font-size: 1.2rem;
    color: #049EF4;
}

.chapterTitle {
    margin: 0.6rem 0;
    color: #999;
}

.menuIcon {
    display: none;
    filter: brightness(0) saturate(100%) invert(100%) sepia(68%)
            saturate(0%) hue-rotate(67deg) brightness(114%) contrast(101%);
}

/* mobile styles */
@media screen and (max-width: 878px) {
    :host {
        display: flex;
        position: absolute;
        justify-content: space-between;
        border-bottom: 1px solid #1565c0;
        width: 100%;
        height: 49px;
    }
    .navigation {
        width: 0;
    }
    .nav {
        display: none;
        .open& {
            background-color: #222;
            display: block;
            top: 0;
            right: 0;
            z-index: 1000;
        }
    }
    .titleContainer {
        display: flex;
        border-right: none;
    }
    .title {
        position: relative;
    }
    .menuIcon {
        display: block;
        margin: auto 0;
        margin-right: 1rem;
    }
}
