:root {
    --sidebar-width: 300px;
    --bg0: #171717;
    --fg0: #ddd;
    --blue: #aaaace;
    --blue0: #767693;
    --grey: #333;
}

body {
    background: var(--bg0);
    color: var(--fg0);
    margin: 0;
    display: grid;
    grid-template-columns: 300px 1fr;
}

a {
    text-decoration: none;
    color: var(--fg0);
}

a:hover {
    color: var(--blue);
}

main {
    margin: 0 auto;
}

canvas {
    background: #222;
}

.sidebarWrapper{
    padding-right: 1rem;
}

#sidebar {
    position: fixed;
    height: 100%;
    padding-right: 1rem;
    border-right: 2px solid var(--grey);
    overflow: auto;
}

.book {
    margin-bottom: 1.4rem;
}

.book:after {
    content: '';
    display: block;
    width: 20%;
    padding-top: 1.4rem;
    border-bottom: 1px solid var(--grey);
}

.book:last-child:after {
    display: none;
}

.book > ul {
    padding: 0;
    list-style-type: none;
}

.book > ul, h1, h2 {
    margin-left: 1rem;
}

.book > ul > li {
    margin: 2px 0;}

.book > h1 {
    font-size: 1.2rem;
    color: var(--blue)
}

.book > h2 {
    margin-bottom: 0;
    font-size: 1rem;
    font-style: bold;
    color: var(--blue0);
}
