@font-face {
    font-family: 'EB Garamond';
    src: url(../fonts/EBGaramond-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Sedan SC';
    src: url(../fonts/SedanSC-Regular.ttf);
}


:root {
    --bg0: #171717;
    --fg0: #ddd;
    --blue: #aaaace;
    --blue0: #767693;
    --grey: #333;
}
body {
    font-family: sans-serif;
    background: var(--bg0);
    color: var(--fg0);
    display: flex;
    margin: 0;
}
main {
    width: 75%;
    text-align: center;
    margin: 0 auto;
}
canvas {
    background: #222;
}
