@font-face {
    font-family: 'EB Garamond';
    src: url(/home/ian/fonts/serif/EB_Garamond/EBGaramond-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Sedan SC';
    src: url(/home/ian/fonts/serif/Sedan_SC/SedanSC-Regular.ttf);
}
@font-face {
    font-family: 'Afacad Flux';
    src: url(../fonts/Afacad_Flux/AfacadFlux-VariableFont_slnt\,wght.ttf);
    font-weight: 100 1000;
}
:root {
    --bg0: #171717;
    --fg0: #ddd;
}

body {
    font-family: 'Afacad Flux';
    font-size: 16px;
    background: var(--bg0);
    color: var(--fg0);
    margin: 0;
}

#app {
    display: flex;
}
