@font-face {
    font-family: "Comfortaa";
    src: url("./src/assets/fonts/Comfortaa-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Quicksand";
    src: url("./src/assets/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

:root {
    --bg-primary: #0a0a0a;
    --bg-secondary: #222;
    --text-color-one: #57616f;
    --text-color-white: #fff;
    --color-primary: #049EF4;
    --color-primary-grey: #999;
    --sidebar-width: 300px;
    --sidebar-padding: 1rem;
}

body {
    font-family: "Quicksand";
    font-size: 16px;
    background-color: var(--bg-primary);
    color: var(--text-color-one);
    margin: 0;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 2rem 0;
    font-family: "Comfortaa";
    color: var(--text-color-white);
}

li {
    margin: 2rem 0;
}

p {
    line-height: 26px;
}

img {
    display: block;
    margin: auto;
}

canvas {
    display: block;
    width: 100%;
    background: #222;
    justify-self: center;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #ffffff;
}

tr:last-child {
    border: none;
}

th {
    color: var(--text-color-white);
}

th, td {
    text-align: left;
    padding: 0.5rem 0;
}

figure {
    margin: 0 0 1rem 0;
}

figcaption {
    text-align: center;
}

#root {
    display: flex;
}

#root > :not(.navigation) {
    margin: 0 auto;
    width: 680px;
}

#canvas-container {
    position: relative;
    width: fit-content;
    justify-self: center;
}

.lil-gui {
    position: absolute;
    top: 0;
    right: 0;
}

.tag-danger {
    display: inline-block;
    background-color: #3e0913;
    color: #fd8f90;
    padding: 0.2rem 0.4rem;
    border: 1px solid #8a132c;
    border-radius: 5px;
}

.callout {
    background-color: var(--bg-secondary);
    font-weight: 900;
    display: block;
    text-align: center;
    border-radius: 4px;
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
    pre {
        font-size: 11px;
    }
    img {
        width: 100%;
        height: 90%;
    }
    #root {
        display: block;
    }
    #root > :not(.navigation) {
        width: 360px;
    }
}
