@font-face {
    font-family: "Comfortaa";
    src: url("./src/assets/fonts/Comfortaa-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Quicksand";
    src: url("./src/assets/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

:root {
    --bg-primary: #222;
    --bg-secondary: red;
    --text-color-one: #37414f;
    --text-color-white: #fff;
    --color-primary: #049EF4;
    --color-primary-grey: #999;
    --sidebar-width: 300px;
    --sidebar-padding: 1rem;
}

body {
    font-family: "Quicksand";
    font-size: 16px;
    background-color: #111;
    color: var(--text-color-one);
    margin: 0;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Comfortaa";
    color: var(--text-color-white);
}

p {
    line-height: 26px;
}

img {
    display: block;
    margin: auto;
}

canvas {
    display: block;
    background: #222;
    justify-self: center;
    border-radius: 5px;
}

table {
    width: 600px;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #ffffff;
}

th {
    color: var(--text-color-white);
}

th, td {
    text-align: left;
    padding: 0.5rem 0;
}

#root {
    display: flex;
}

#root div:last-child {
    margin: 0 auto;
    max-width: 750px;
}

#canvas-container {
    position: relative;
    width: fit-content;
    justify-self: center;
}

.lil-gui {
    position: absolute;
    top: 0;
    right: 0;
}

.tag-danger {
    display: inline-block;
    background-color: #3e0913;
    color: #fd8f90;
    padding: 0.2rem 0.4rem;
    border: 1px solid #8a132c;
    border-radius: 5px;
}

@media screen and (max-width: 1100px) {
    #root div:last-child {
        max-width: 600px;
    }
}

@media screen and (max-width: 768px) {
    #root {
        display: block;
    }
}
