:host {
    flex: none;
    position: relative;
    width: 300px;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #049EF4;
}
.header {
    margin-left: -1rem;
    padding: 0.5rem 0;
    background: #1565c0;
    > .heading {
        font-size: 1.4rem;
        padding-left: 1rem;
    }
}
menu {
    position: fixed;
    background: #222;
    top: 0;
    height: 100vh;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul {
    padding: 0;
    list-style-type: none;
}
li {
    margin: 1px 0;
}
.bookTitle {
    font-size: 1.2rem;
    color: #049EF4;
}
.chapterTitle {
    font-weight: 900;
}
img {
    display: none;
    filter: brightness(0) saturate(100%) invert(100%) sepia(68%) saturate(0%) hue-rotate(67deg) brightness(114%) contrast(101%);
}
@media screen and (max-width: 768px) {
    :host {
        display: inherit;
        position: sticky;
        top: 0;
        width: inherit;
    }
    .panel {
        position: relative;
        height: inherit;
        width: 100%;
        .open& {
            position: fixed;
            top: 0;
            height: 100%;
            overflow: auto;
        }
    }
    img {
        display: block;
        padding: 0.5rem;
    }
    .heading {
        display: none;
    }
    menu {
        display: none;
        .open& {
            display: block;
        }
    }
}
