:host {
    flex: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #049EF4;
}

.navigation {
    position: relative;
    width: 300px;
    height: 100vh;
}

.nav {
    position: fixed;
    background: #222;
    width: 300px;
    height: 100vh;
    margin: 0;
    padding: 0.5rem 0 0 1rem;
    list-style-type: none;
}

.title {
    background: #1565c0;
    width: 300px;
    margin: 0;
    padding: 1rem 0 1rem 1rem;
}

.book {
    margin: 1px 0;
    > ul {
        padding: 0;
        list-style-type: none;
    }
}

.bookTitle {
    font-size: 1.2rem;
    color: #049EF4;
}

.chapterTitle {
    font-weight: 900;
}

.menuIcon {
    display: none;
    filter: brightness(0) saturate(100%) invert(100%) sepia(68%)
            saturate(0%) hue-rotate(67deg) brightness(114%) contrast(101%);
}

/* mobile styles */
@media screen and (max-width: 878px) {
    :host {
        background: #1565c0;
        width: 100%;
        height: 6rem;
    }
    .navigation {
        display: none;
        .open& {
            position: fixed;
            top: 0;
            height: 100%;
            overflow: auto;
        }
    }
    .menuIcon {
        display: block;
        margin: 1rem;
    }
    /* img { */
    /*     display: block; */
    /*     padding: 0.5rem; */
    /* } */
    /* .heading { */
    /*     display: none; */
    /* } */
    /* menu { */
    /*     display: none; */
    /*     .open& { */
    /*         display: block; */
    /*     } */
    /* } */
}
